@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<p>
    This website allows you to run basic calculations for a rectangular prism given its dimensions.
</p>
<p>
    "Regtangular prism" is the formal geometric name for a box.
    The dimensions include:
</p>
<ul>
    <li>Length</li>
    <li>Width</li>
    <li>Height</li>
</ul>
<p>
    The program will then calculate:
</p>
<ul>
    <li>Volume</li>
    <li>Surface area</li>
    <li>Diagonal</li>
</ul>
