@model RectangularPrism
@{
    ViewBag.Title = "Rectangular Prism Calculator";
}
<h1>@ViewBag.Title</h1>
<form asp-action="Index" method="post">
    <div asp-validation-summary="All" class="errors"></div>
    <div>
        <label asp-for="Length">Length:</label>
        <input asp-for="Length" autofocus />
        <span>units</span>
    </div>
    <div>
        <label asp-for="Width">Width:</label>
        <input asp-for="Width" />
        <span>units</span>
    </div>
    <div>
        <label asp-for="Height">Height:</label>
        <input asp-for="Height" />
        <span>units</span>
    </div>
    <div>
        <label>Volume:</label>
        <input value="@ViewBag.Volume" disabled />
        <span>units<sup>3</sup></span>
    </div>
    <div>
        <label>Surface Area:</label>
        <input value="@ViewBag.SurfaceArea" disabled />
        <span>units<sup>2</sup></span>
    </div>
    <div>
        <label>Diagonal:</label>
        <input value="@ViewBag.Diagonal" disabled />
        <span>units</span>
    </div>
    <div class="button_container">
        <button type="submit">Submit</button>
        <a asp-action="Index">Clear</a>
    </div>
</form>
