@*
    Name: Luke Hamann
    Date: 2024-09-12
    Purpose: This provides a base layout for all views in the application. The
             head includes some meta values, a slot for a title, and a link to
             the application-wide CSS. The body includes a navigation menu, a
             slot for the page content, and a footer.
*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-action="Index">Index</a></li>
                <li><a asp-action="About">About</a></li>
            </ul>
        </nav>
    </header>
    <main>@RenderBody()</main>
    <footer>
        <p>&copy; @DateTime.Now.Year Luke Hamann</p>
    </footer>
</body>
</html>
