@charset "UTF-8";

/*
    Name: Luke Hamann
    Date: 2024-09-12
    Purpose: This is the main CSS for all the pages of the application. It
             provides a responsive, minimal, left-aligned page layout with
             sans-serif fonts and dark mode support.
*/

:root {
    color-scheme: light dark;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 40rem;
}

header, main, footer {
    padding: 1rem;
}

ul {
    padding-left: 1rem;
}

main h1, main p, main ul {
    margin: 1rem 0;
}

/* Forms */

form {
    width: fit-content;
}

form > * {
    margin: 1rem 0;
}

label, input, span {
    display: inline-block;
}

label {
    width: 7rem;
}

input {
    width: 12rem;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.errors {
    color: red;
}
